@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">CHÀO MỪNG ĐẾN TRANG QUẢN TRỊ</h2>
<hr />
<div class="text-center">
    <p>Xin chào admin! Bạn có thể quản lý các chức năng như: sách, chủ đề, nhà xuất bản, khách hàng, đơn hàng,...</p>
    <p>Vui lòng chọn chức năng từ menu phía trên.</p>
</div>
